<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %-5level %logger{36}.%method - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="org.apache" level="ERROR" />
	<logger name="org.hibernate.SQL" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="net.sf" level="ERROR" />

	<root level="INFO">
		<appender-ref ref="console" />
	</root>
</configuration>